/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Colors */
:root {
  --Teal: #00b4d8;
  --LightGray: #e7ecef;
  --DarkGray: #343a40;
  --Black: #212529;
}

/* Layout */
* {
  box-sizing: border-box;
}

body {
  /* background-image: url(../public/images/mesh.png); */
  background: radial-gradient(circle at 65% 15%, rgba(142, 202, 230, 0.15) 0%, rgba(33, 158, 188, 0) 25%), 
              radial-gradient(circle at 20% 50%, rgba(202, 240, 248, 0.5) 0%, rgba(33, 158, 188, 0) 10%),
              radial-gradient(circle at 80% 65%, rgba(0, 119, 182, 0.1) 0%, rgba(33, 158, 188, 0) 5%);
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Nav */
.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 4rem;
  gap: 2rem;
  padding: 0 1rem;
  border-bottom: .1rem solid var(--LightGray);
  
}

.site-title {
  color: var(--Teal) !important;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  
}

.nav a {
  color: var(--DarkGray);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav a:hover{
  color: var(--Black);
  font-weight: bold;
}

.nav li.active {
  background-color: white;
  border-bottom: .25rem solid var(--Teal);
}

.nav li:hover {
  background-color: white;
  border-bottom: .25rem solid var(--Teal);
}

/* About Page */
.about-container {
  margin: 5rem;
}

.about-container strong {
  color: var(--Teal);
}

.about-container article {
  margin: 1rem;
  background-color: white;
  border: .1rem solid var(--LightGray);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.purpose-container {
  margin: 5rem;
}

.purpose-container strong {
  color: var(--Teal);
}

.purpose-container article {
  margin: 1rem;
  background-color: white;
  border: .1rem solid var(--LightGray);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.team-container {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 0rem;
}

.team-container strong {
  color: var(--Teal);
}

.team-container article {
  margin-top: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0rem;
  border: .1rem solid var(--LightGray);
  border-radius: 1rem;
  text-align: center;
}

/* Team Card */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
}

.card {
  /* Add border */
  background-color: white;
  border: .1rem solid var(--LightGray);
  padding: 1rem;
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  margin: 1rem;
}

.card:hover {
  border-color: var(--Teal);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.circular-image {
  border-radius: 50%;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  border: .1rem solid var(--LightGray);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.name {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.card-details {
  margin: .5rem;
  text-align: left;
  font-size: 15px;
}

/* Contact */
.contact-container {
  text-align: center;
}

.contact-content p{
  margin: 1rem;
}

/* Loader */
.loader {
  margin: auto;
  border: 12px solid var(--LightGray); /* Light grey */
  border-top: 12px solid var(--Teal); /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


/* Upload */
.upload-container {
  display: flex;               /*  added this   */
  flex-direction: column;     /*   added this   */
  text-align: center;
  align-items: center;
}

.upload-form {
  margin-bottom: 1rem;
}

/* Summary */
.sumary-container {
  text-align: center;
  align-items: center;
}

.summary-content {
  margin: 1rem;
  background-color: white;
  border: .1rem solid var(--LightGray);
  padding: 1rem;
  border-radius: 1rem;
  text-align: left;
}

/* Text */
h1, h2, h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: var(--DarkGray);
}

p {
  font-family: "Roboto", sans-serif;
  color: var(--DarkGray);
}

.paragraph-indent {
  text-indent: 2em;
}


/*  Upload Article added CSS */
.file-btn {
  width: 680px;
  height: 200px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(245, 246, 249);
  border: 1.5px dashed rgb(9, 15, 186);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-btn:hover {
  color: rgb(22, 43, 236);
  background-color: rgb(187, 237, 252);
}

.file-btn span {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: rgb(9, 15, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(218, 233, 246);
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(187, 237, 252);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 20px
}

.selected-file p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.selected-file button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(9, 15, 186);
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-file button:hover {
  color: rgb(187, 237, 252);
  background-color: rgb(9, 15, 186);
}

.submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(187, 237, 252);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 20px
}

.submit p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.submit button {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit button:hover {
  color: rgb(187, 237, 252);
  background-color: rgb(9, 15, 186);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: white;
  padding: 1rem;
  text-align: center;
}

/* Media query for screens wider than 1500px */
@media (min-width: 1500px) {
  .main-content {
    margin: 0 15rem; /* Increase the left and right margins so content isn't so spread out */
  }
}

/* Media query for screens wider than 1800px */
@media (min-width: 1800px) {
  .main-content {
    margin: 0 30rem; /* Further increase the left and right margins */
  }
}

@media (max-width: 850px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 400px;
  }
}

iframe {
  border: none; 
  margin: none;
  width: 640px;
  height: 689px;
}